/* ----------- All pages ---------- */
.navbar{
    
    background-color: #000;
    /* position: fixed;
    top: 0;
    z-index: 1;
    keeps navbar stuck to top, but shrinks it */

}
.navbar-brand img{
    height: 50px;
    width: 50px;

}

#nav-link {
    color: #fff;
}

/* ---------- Home/index ---------- */

#jumbotron1{
    height: 1000px;

    background-image: url('../img/kobe1.jpg');
    background-repeat: no-repeat;
    background-position: center top 25%;
    background-size: cover;
    color: #fbf31e;
    text-shadow: 2px 4px #ab78a4;

}

.background-gradient{
    background-image: linear-gradient(to bottom right, #fbf31e, #ab78a4);
 

}

#background-gradient{
    background-image: linear-gradient(to bottom right, #fbf31e, #ab78a4);
 

}

.background-img {
    background-image: url("../img/kobe-parallax.jpeg");
    height: 400px;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size:  contain;
}

#remembering-kobe-text p{
    background-color: rgba(0, 0, 0, .4);
    color: #fbf31e;
    margin: 75px 0 75px;
}

#videos{
    display: flex;
    justify-content: space-evenly;
}

#carousel-kobe{
    padding: 150px 150px 150px;
    background-color: rgba(0, 0, 0, 0);
}
.carousel-inner img{
    height: 1000px;
}






.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FDB927' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    height: 75px;
    width: 75px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FDB927' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    height: 75px;
    width: 75px;
}
/* .carousel_control_size{
    height: 75px;
    width: 75px;
    background-color: rgb (253,184,39);


} */
/* --------------------------------about css------------------------------- */

#about-text-top{
    color: #fbf31e;
    text-shadow: 2px 4px #ab78a4;
  background-image: linear-gradient(#000, #1b1c20);
}

#jumbotron2{
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
}
#background-about{
    background-color: #fff;
}
.background-img-about{
    background-image: url("../img/mambacitalogo.jpeg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:  400px 400px;
}

#dear{
    font-family: Cursive;
    font-size: 30px;
    text-align: left;
}

/* #highlight{
    background-color: rgba(195,168,103, .4);
}  didnt work*/

#story #top{
    font-size: 40px;
    font-weight: 600;
    padding-top: 40px;
}

#story #bottom{
    font-size: 24px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    border-style: double;
    border-width: 30px;
}

.website-purpose{
    padding: 0 0 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}


.quote{
    padding: 0 0 40px;
    font-family: 'Dancing Script', cursive;
    font-size: 48px;

}

#donate-con{
    height: 400px;
}

#donate section{
    background-color: rgba(44, 43, 43, 0.6);
}
.Donate-text{
    color: #fff;
    text-shadow: 2px 2px #000;
}
.Mamba-text{
    color: rgb(195,168,103);
    text-shadow: 3px 4px #000;
}
.donate_button{
    color: #fff;
}

/* ---------- Donate ---------- */


#form-con{
    border: #000;
    border-style: solid;
    border-radius: 1em;
}

#donate-statement{
    margin-top: 40px;
}


#donation  form {
    border: 1px solid var(--main_color);
    border-radius: 10px;
    padding: 18px;
}

#donation #accordion .card,
#donation #accordion .card .card-header,
#donation form button {
    border-color: var(--main_color);
}
